# ==============================
# VIRTUAL ENVIRONMENTS
# ==============================
.venv/
venv/
env/

# ==============================
# PYTHON CACHE
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# DATA FILES (niet committen!)
# ==============================
data/raw/
data/processed/

# maar hou lege folders
!data/raw/.gitkeep
!data/processed/.gitkeep

# ==============================
# DATABASES
# ==============================
*.db
*.sqlite

# ==============================
# JUPYTER
# ==============================
.ipynb_checkpoints/

# ==============================
# ENV / SECRETS
# ==============================
.env

# ==============================
# OS FILES
# ==============================
.DS_Store
Thumbs.db

# ==============================
# IDE FILES
# ==============================
.vscode/
.idea/

# ==============================
# LOGS
# ==============================
*.log

# ==============================
# TEMP FILES
# ==============================
*.tmp
*.temp